# IDE
/.idea
/.vscode
.DS_Store

/.embuild
/target
/boards/*/target/
/packages/*/target/
/packages/*/Cargo.lock
!/packages/sdcard/Cargo.lock
/.*_target_*/
/tools/*/target
/tools/*/out
/tools/**/__pycache__/
/tools/**/*.py[cod]
/test-support/**/target
/test-support/**/out
/test-support/**/__pycache__/
/test-support/**/*.py[cod]
/scripts/**/__pycache__/
/scripts/**/*.py[cod]
/tools/scene_maker/assets
/logs/
/*.lcov
/*.profraw
.env.local
.env.*.local
.env
.scannerwork/
/.scratch/
