# IDE
/.idea
/.vscode
.DS_Store

/.embuild
/target
/tools/*/target
/tools/*/out
/tools/**/__pycache__/
/tools/**/*.py[cod]
/scripts/**/__pycache__/
/scripts/**/*.py[cod]
/tools/scene_maker/assets
/logs/
/logs/coverage/
/*.lcov
/*.profraw
.env.local
.env.*.local
.env
.scannerwork/

## gh-csi settings and working directory
.gh-csi/models.toml
.gh-csi/output
